[submodule "AuthenticationServer.API"]
	path = AuthenticationServer.API
	url = https://github.com/sungjaebae/bungaetrip-auth-server-backup.git
	branch = master
[submodule "ApplicationServer"]
	path = ApplicationServer
	url = https://github.com/sungjaebae/bungaetrip-api-server-backup.git
	branch = develop