[submodule "AuthenticationServer.API"]
	path = AuthenticationServer.API
	url = https://github.com/gogetters-ko/bungaetrip-auth-server.git
	branch = master
[submodule "ApplicationServer"]
	path = ApplicationServer
	url = https://github.com/gogetters-ko/Bungaetrip-api-server.git
	branch = develop