[submodule "AuthenticationServer.API"]
	path = AuthenticationServer.API
	url = https://git.swmgit.org/swm-13-main/13_swm43/authserver.git
[submodule "taxi.Webapi"]
	path = taxi.Webapi
	url = https://git.swmgit.org/swm-13-main/13_swm43/taxiapimock.git
[submodule "DatabaseInitializer"]
	path = DatabaseInitializer
	url = https://git.swmgit.org/swm-13-main/13_swm43/databaseinitializer.git
[submodule "login_test"]
	path = login_test
	url = https://git.swmgit.org/swm-13-main/13_swm43/login_test.git
